{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load myresume_confirm_delete %}

{% block title %}
  Создать резюме |
{% endblock %}

{% block style %}
  <style>
      body {
          background-color: #F6F2E6;
      }
  </style>
{% endblock %}

{% block main %}
  {% if form %}
    <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
      <div class="card-body px-3 pb-4">
        <h1 class="h4 pt-2 pb-3">Мое резюме</h1>
        {% include 'messages.html' %}
        {% crispy form 'bootstrap4' %}
        {% if is_new_resume is None %}
          {% get_variable as variables %}
          {% include "modal_confirm.html" with variables=variables %}
        {% endif %}
      </div>
    </section>
  {% else %}
    <section class="col-12 col-lg-6 offset-lg-3 mt-5 card">
      <div class="card-body px-3 pb-4">
        <h1 class="h4 pt-2">Мое резюме</h1>
        {% include 'messages.html' %}
        <p class="mt-2">У вас нет резюме. Хотите создать его?</p>
        <a href={% url 'myresume-create' %} class="btn btn-info mb-2">Создать резюме</a>
      </div>
    </section>
  {% endif %}
{% endblock %}
