{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  Вакансии компании |
{% endblock %}

{% block style %}
  <style>
      body {
          background-color: #F6F2E6;
      }
  </style>
{% endblock %}

{% block main %}
  <div class="row mt-5">
    {% include 'jobs/my_company/company_nav.html' %}
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-body px-4 pb-4">
          <section class="tab-pane fade show active">
            <h2 class="h4 pt-2 pb-3">Вакансии</h2>
            {% include 'messages.html' %}
            {% for vacancy in vacancy_list %}
              <div class="card mt-3">
                <div class="card-body px-4">
                  <div class="row align-items-center">
                    <div class="col-6 col-lg-8">
                      <a href={% url 'mycompany-vacancy-edit' vacancy.id %} class="mb-1">
                        {{ vacancy.title }}
                      </a>
                      <p class="mb-1">
                        <span class="mr-4">
                          {{ vacancy.salary_min }} - {{ vacancy.salary_max }}
                        </span>
                        {%  with applications=vacancy.applications.all %}
                          {% if applications|length > 0 %}
                            <a href="{% url 'mycompany-vacancy-edit' vacancy.id %}#applications"
                               class="text-info">{{ applications|length }} отклика</a>
                          {% else %}
                            Нет откликов
                          {% endif %}
                        {%  endwith %}
                      </p>
                    </div>
                    <div class="col-6 col-lg-4 text-right">
                      <a href={% url 'mycompany-vacancy-edit' vacancy.id %}class="btn btn-outline-info">Изменить</a>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
            <div class="col-6 col-lg-4 text-left">
              <a href={% url 'mycompany-vacancy-create' %} class="btn btn-outline-info mt-4">
              Добавить вакансию
              </a>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
{% endblock %}